<app-navbar></app-navbar>
<!-- <section class="md-8">
    <div class="banner">
        <div class="glassbox">
        <h1 class="banner_title"><b>Quick<span style="color: navy;">Answers</span></b></h1>
            <div class="banner_buttons">
                <p class="desc">Our website is basically a Question and Answer Website for Students , Parents and also for the students outside of the College who wants to know more about the college.</p>
                <div class="card-btn">
                    <button class="btn btn-outline-primary">Student Login</button>
                    <button class="btn btn-outline-primary">Management Login</button>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- about section-->
<section id="about" class="hello" style="margin-top: 1rem; padding-top: 1rem; height:75vh">
    <div class="container mt-5">
        <div class="row">  
            <div class="col-lg-8 pt-4" style="width:100%;">
                    <h1 class="banner_title"><b>Quick<span style="color: navy;">Answers</span></b></h1>
              
                <div class="row mt-4 mx-5 ">
                    <p class="desc">Our website is basically a Question and Answer Website for Students , Parents and also for the students outside of the College who wants to know more about the college.</p>
                <div class="card-btn mb-4">
                    <button class="btn btn-outline-primary" (click)="stulog()">Student Login</button>
                    <button class="btn btn-outline-primary" (click)="manglog()">Management Login</button>
                </div>
                </div>
            </div>
        </div>
  </div>
</section>
<app-footer></app-footer>