<section id="about" style="color: #ffffff;">
    <div class="container mt-4 pt-4 glassbox">
  
  
  
      <div class="containers">
          <div class="accordion" style="height: 100%; overflow: hidden; overflow-y: scroll; width: 100%;">
  
  
              <div class="accordion-item" id="question1">
  
                  <a href="/manage/#question1" class="accordion-link">
                    When will the campus placement start for the 4th years?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                    <form>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter your answer here</label>
                      </div><br>
                      <button type="submit" class="btn btn-primary" style="font-size: 15px;">upload</button>
                    </form>
                  </div>
  
              </div>
  
              <div class="accordion-item" id="question2">
                  <a href="/manage/#question2" class="accordion-link">
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                    <form>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter your answer here</label>
                      </div><br>
                      <button type="submit" class="btn btn-primary" style="font-size: 15px;">upload</button>
                    </form>
                  </div>
              </div>
  
  
              <div class="accordion-item" id="question3">
                  <a href="/manage/#question3" class="accordion-link">
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                    <form>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter your answer here</label>
                      </div><br>
                      <button type="submit" class="btn btn-primary" style="font-size: 15px;">upload</button>
                    </form>
                  </div>
              </div>
  
              <div class="accordion-item" id="question4">
                  <a href="/manage/#question4" class="accordion-link" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                    <form>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter your answer here</label>
                      </div><br>
                      <button type="submit" class="btn btn-primary" style="font-size: 15px;">upload</button>
                    </form>
                  </div>
              </div>
  
  
              <div class="accordion-item" id="question5">
                  <a class="accordion-link" href="/manage/#question5" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                    <form>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter your answer here</label>
                      </div><br>
                      <button type="submit" class="btn btn-primary" style="font-size: 15px;">upload</button>
                    </form>
                  </div>
              </div>
  
              
              <div class="accordion-item" id="question6">
                  <a class="accordion-link" href="#question6" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                    <form>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter your answer here</label>
                      </div><br>
                      <button type="submit" class="btn btn-primary" style="font-size: 15px;">upload</button>
                    </form>
                  </div>
              </div>
  
              
              <div class="accordion-item" id="question7">
                  <a class="accordion-link" href="#question7" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                    <form>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter your answer here</label>
                      </div><br>
                      <button type="submit" class="btn btn-primary" style="font-size: 15px;">upload</button>
                    </form>
                  </div>
              </div>
  
              
              <div class="accordion-item" id="question8">
                  <a class="accordion-link" href="#question8" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                    <form>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter your answer here</label>
                      </div><br>
                      <button type="submit" class="btn btn-primary" style="font-size: 15px;">upload</button>
                    </form>
                  </div>
              </div>
  
  
              
              <div class="accordion-item" id="question9">
                  <a class="accordion-link" href="#question9" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                    <form>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter your answer here</label>
                      </div><br>
                      <button type="submit" class="btn btn-primary" style="font-size: 15px;">upload</button>
                    </form>
                  </div>
              </div>
  
  
              
              <div class="accordion-item" id="question10">
                  <a class="accordion-link" href="#question10" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                    <form>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter your answer here</label>
                      </div><br>
                      <button type="submit" class="btn btn-primary" style="font-size: 15px;">upload</button>
                    </form>
                  </div>
              </div>
  
  
  
          </div>
      </div>
  
      </div>
  
  
  
  </section>