<section id="about" style="color: #ffffff;" class="Q&As">
    <div class="container mt-4 pt-4 glassbox">
  
  
  
      <div class="containers">
          <div class="accordion" style="height: 100%; overflow: hidden; overflow-y: scroll; width: 100%;">
  
  
              <div class="accordion-item" id="question1">
  
                  <a href="pd/#question1" class="accordion-link">
                    What is the transport fee from kkd?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                  <p>The fee allocated for the transportation for the Bus Route KKD-RJY is 27,000/-</p>
                  </div>
  
              </div>
  
              <div class="accordion-item" id="question2">
                  <a href="pd/#question2" class="accordion-link">
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                      <p>A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam, 
                      (born October 15, 1931, Rameswaram, India—died July 27, 2015, Shillong), 
                      Indian scientist and politician who played a leading role in the development of Indias</p>
                  </div>
              </div>
  
  
              <div class="accordion-item" id="question3">
                  <a href="pd/#question3" class="accordion-link">
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                  <p> A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam, 
                      (born October 15, 1931, Rameswaram, India—died July 27, 2015, Shillong), 
                      Indian scientist and politician who played a leading role in the development of Indias.</p>
                  </div>
              </div>
  
              <div class="accordion-item" id="question4">
                  <a href="pd/#question4" class="accordion-link" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                  <p> A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam, 
                      (born October 15, 1931, Rameswaram, India—died July 27, 2015, Shillong), 
                      Indian scientist and politician who played a leading role in the development of Indias</p>
                  </div>
              </div>
  
  
              <div class="accordion-item" id="question5">
                  <a class="accordion-link" href="pd/#question5" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                  <p> A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam, 
                      (born October 15, 1931, Rameswaram, India—died July 27, 2015, Shillong), 
                      Indian scientist and politician who played a leading role in the development of Indias</p>
                  </div>
              </div>
  
              
              <div class="accordion-item" id="question6">
                  <a class="accordion-link" href="pd/#question6" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                  <p> A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam, 
                      (born October 15, 1931, Rameswaram, India—died July 27, 2015, Shillong), 
                      Indian scientist and politician who played a leading role in the development of Indias</p>
                  </div>
              </div>
  
              
              <div class="accordion-item" id="question7">
                  <a class="accordion-link" href="pd/#question7" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                  <p> A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam, 
                      (born October 15, 1931, Rameswaram, India—died July 27, 2015, Shillong), 
                      Indian scientist and politician who played a leading role in the development of Indias</p>
                  </div>
              </div>
  
              
              <div class="accordion-item" id="question8">
                  <a class="accordion-link" href="pd/#question8" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                  <p> A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam, 
                      (born October 15, 1931, Rameswaram, India—died July 27, 2015, Shillong), 
                      Indian scientist and politician who played a leading role in the development of Indias</p>
                  </div>
              </div>
  
  
              
              <div class="accordion-item" id="question9">
                  <a class="accordion-link" href="pd/#question9" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                  <p> A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam, 
                      (born October 15, 1931, Rameswaram, India—died July 27, 2015, Shillong), 
                      Indian scientist and politician who played a leading role in the development of Indias</p>
                  </div>
              </div>
  
  
              
              <div class="accordion-item" id="question10">
                  <a class="accordion-link" href="pd/#question10" >
                      What is your name?
                      <!-- <ion-icon name="chevron-down-outline" class="x"></ion-icon>
                      <ion-icon name="chevron-up-outline" class="y"></ion-icon> -->
                  </a>
                  <div class="answer">
                  <p> A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam, 
                      (born October 15, 1931, Rameswaram, India—died July 27, 2015, Shillong), 
                      Indian scientist and politician who played a leading role in the development of Indias</p>
                  </div>
              </div>
  
  
  
          </div>
      </div>
  
      </div>
      <div class="modal fade" id="video-1" style="color: #000;">
  
        <div class="modal-dialog modal-dialog-centered" style="font-size: 20px;">
        
          <div class="modal-content">
        
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Any Queries?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
    
              <form>
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your query displays here">
                  </div>
    
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Question</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter the question"></textarea>
                  </div>
    
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              
    
    
    
    
    
            </div>
        
          </div>
        
        </div>
        
        </div>
  </section>
  <app-query></app-query>