<section class="register">
    <div class="card">
        <div class="card-title">
            <h1>Registration Details</h1>
            <img src="../../../assets/images/user.png" alt="">
            <form action="">
                <div class="card-body">
                    <label style="color: aqua; font-weight:bold" for=""><b>Username : </b></label>
                    <input class="form-control" type="text" name="" id="" placeholder="Enter your username" required>
                    <label style="color: aqua; font-weight:bold" for=""><b>Username : </b></label>
                    <input class="form-control" type="text" name="" id="" placeholder="Enter your username" required>
                    <label style="color:aqua;" for=""><b>Password : </b></label>
                    <input class="form-control" type="password" placeholder="Enter your password" required>
                </div>
            </form>
            <button class="btn btn-outline-success">Register</button>
            <p>Already had an account <a routerLink="../login/">Login</a></p>
        </div>
    </div>
</section>
<router-outlet></router-outlet>