<nav class="navbar navbar-expand-lg navbarScroll ">
    <div class="container" style="font-size: 15px;">
        <a class="navbar-brand" style="color:#000; font-size:20px" href="#">QAns</a>
        <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="background-color: #ffffff; border-radius: 10px;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color:navy;" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:navy;" routerLink="/login">Login</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>