<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" routerLinkActive="active-link">
        <img src="../../../assets/images/logo.png" alt="connection the connection" style="width:5rem; margin-right:0.9rem">
        <b>Quick<span style="color: navy;">Answers</span></b></a>
    </div>
</nav>
<section class="vh-95">
	<div class="container py-5 h-100">
	  <div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col-12 col-md-8 col-lg-6 col-xl-5">
		  <div class="card shadow-2-strong" style="border-radius: 1rem;">
			<div class="card-body p-5 text-center">
				<form [formGroup]="loginuser" (ngSubmit)="onlogin()">

  
			  <h2 class="mb-5"><b>Management Login Details</b></h2>
			  <hr class="my-4">
			  <div class="form-outline mb-4">
				<input type="email" id="typeEmailX-2" class="form-control form-control-lg" formControlName="email" name="email" type="email" name="email" placeholder="Email"
				[(ngModel)]="user.email" />
				<label class="form-label" for="typeEmailX-2">Email</label>
				<small *ngIf="loginuser.controls['email'].dirty && loginuser.hasError('required','email')" class="text-danger"> - Enter vaild email</small>

			  </div>
  
			  <div class="form-outline mb-4">
				<input type="password" id="typePasswordX-2" formControlName="password" name="password" [type]="inputType" name="Password" placeholder="Password" [(ngModel)]="user.password" class="form-control form-control-lg" />
				<label class="form-label" for="typePasswordX-2">Password</label>
				<small *ngIf="loginuser.controls['password'].dirty && loginuser.hasError('required','password')" class="text-danger"> - Check the Password</small>
			  </div>
  
			  <!-- Checkbox -->
			  <div class="form-check d-flex justify-content-start mb-4">
				<input class="form-check-input" type="checkbox" value="" id="form1Example3" />
				<label class="form-check-label" for="form1Example3"> Remember password </label>
			  </div>
  
			  <button class="btn btn-primary btn-lg btn-block" type="submit"><b>Login</b></button>
				</form>
  
  
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <app-footer></app-footer>