<section id="about">
    <div class="container mt-3 pt-2 glassbox">
        <div class="row mt-4">
            <div class="col-lg-4 glassbox2">
                <img src="../../../assets/images/gietlogo.jpg" class= "imageAboutPage" alt="noimg">
                <h4 style="margin-top: 15px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center; font-size:25px;">Welcome to GIET-QA Section</h4>
                <p style="margin-top: 20px; color : #000000;">GIET at present is ranked as one of the top 10 engineering colleges in AP. Today, India has earned a name for itself in the field of providing professional education and is continuously making steady contributions to the knowledge bank of the world. The world today evolves at a rapid and astonishing pace with new developments in management and technology.</p>
            </div>
  
            <div class="col-lg-8 box">
              <h3>Department List</h3>
  
  
  
              <div class="list" (click)="clickpd()">
                  
                  <div class="imgbx">
                      <img src="../../../assets/images/placementdepartment.jpg">
                  </div>
                  <div class="content">
                      <h5><a routerLink="/pd">Placements Department</a></h5>
                      <p>Welcome to Placements Department</p>
                  </div>
  
              </div>
              <div class="list" (click)="clickfd()">
                  
                  <div class="imgbx">
                      <img src="../../../assets/images/fooddepartment.jpg">
                  </div>
                  <div class="content">
                      <h5><a routerLink="/fd">Food Department</a></h5>
                      <p>Welcome to Food Department</p>
                  </div>
  
              </div>
              <div class="list" (click)="clickhd()">
                  
                  <div class="imgbx">
                      <img src="../../../assets/images/hosteldepartment.jpeg">
                  </div>
                  <div class="content">
                      <h5><a routerLink="/hd">Hostel Department</a></h5>
                      <p>Welcome to Hostel Department</p>
                  </div>
  
              </div>
              <div class="list" (click)="clickld()">
                  
                  <div class="imgbx">
                      <img src="../../../assets/images/librarydepartment.jpg">
                  </div>
                  <div class="content">
                    <h5><a routerLink="/ld">Library Department</a></h5>
                      <p>Welcome to Libraby Department</p>
                  </div>
  
              </div>
              <div class="list" (click)="clicktd()">
                  
                  <div class="imgbx">
                      <img src="../../../assets/images/transportdepartment.jpeg">
                  </div>
                  <div class="content">
                    <h5><a routerLink="/td">Transport Department</a></h5>
                      <p>Welcome to Transport Department</p>
                  </div>
  
              </div>
  
  
  
  
            </div>
  
          </div>
      </div>
  </section>