.card{
    border-radius: 30px;
    width: 100%;
    font-size: 15px;
    padding-bottom: 2%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 10;
    display: flex;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    box-shadow: 0 25px 45px rgba(10, 10, 10, 0.25);
}