<section class="login">
    <div class="card">
        <div class="card-title">
            <h1 style="color: black;">Login Details</h1>
            <img src="../../../assets/images/user.png" alt="">
            <form action="">
                <div class="card-body">
                    <label style="color: black; font-weight:bold" for=""><h4><b>Username : </b></h4></label>
                    <input class="form-control" type="text" name="" id="" placeholder="Enter your username" required><br>
                    <label style="color:black;" for=""><h4><b>Password : </b></h4></label>
                    <input class="form-control" type="password" placeholder="Enetr your password" required>
                </div>
            </form>
            <button class="btn btn-outline-primary" type="button"><a routerLink="/manage">Login</a></button>
        </div>
    </div>
</section>
<router-outlet></router-outlet>